.games {
    padding-top: 110px;
}

.game {
    display: flex;

}

.game__img {
    width: 460px;
    margin-right: 55px;
    padding-bottom: 42px;
}

.game__content {
    flex: 1;
    padding: 10px 0;
}

.game__title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
}

.game__desc {
    line-height: 27px;
    margin-bottom: 30px;
}