

.menu__item {
    display: inline-block;
    margin-right: 65px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link:hover {
    color: #8F00FF;

}

.menu__link:active {
    color: #8F00FF;
}

.menu__link--on {
    color: #8F00FF;
}