.partner {
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 100px 0 105px ;
}

.partner-reviews {
    padding: 65px 0 105px ;
}

.partner__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 75px;
}

.partner__list {
    display: flex;
    flex-wrap: wrap;
}

.partner__item {
    margin-left: 20px;

}

.partner__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partner__link {
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partner__link:hover {
    filter: grayscale(0);
}



.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}